{% extends 'base.html' %}
{% load static %}
{% block content %}
<H1>Welcome to Made by Phil</H1>
<br>
<p>This site will hold all my notes, content and write-ups of other projects. I have split things up into categories and tags, the blog roll will just give you everything listed by publication date. Categories are deliberate content buckets that you can use to get a selection of content, ideally they are sequential and self-contained. Tags are used to connect related content. Posts can only be part of one category but have multiple tags. They are not necessarily part of a category though.</p>

<p>To give you an example, a tag could be "software" or "robotics" or "notes", but the categories would be "anti-Agile", "madebyphil site", my "automated lawnmower project" or "book-notes".</p>
{% endblock content %}